.calendar{
	text-align: center;
	border: 0;
}

.alex-splash{
  height: 400px;
  width: auto;
}

.alex-circle{
  width: 350px;
  height: auto;
}

.alex-circle-right{
  float:right;
}

.img-circle {
  border-radius: 50%;
  width: auto;
  height: 150px
}

.hero-unit h1{
 text-align: center; 
 color: #AF7817;
}

.hero-unit h2{
 text-align: center; 
 color: #FDD017;
}

.hero-unit h3{
 text-align: center; 
 color: #FDD017;
}

.hero-unit p{
 text-align: center; 
 color: #FDD017;
}

.social-icon{
  width: 40px;
  height: 40px;
}

.marketing .col-lg-3 {
  text-align: center;
}
.marketing .col-lg-4 {
  text-align: center;
}
.marketing .col-lg-6 {
  text-align: center;
}

.banner-background{
 background-color: #000000; 
}

.content-background{
 padding-top: 10px;
 padding-bottom: 10px;
}

