@font-face {
	font-family: 'shyshyfont'; /*a name to be used later*/
	src: url("/static/fonts/budmo/budmojiggler.ttf"); /*URL to font*/
}

#titlefont {
	    font-family: 'shyshyfont';
	    font-size:80px
    }

 @font-face {
	 font-family: 'smallwriting'; /*a name to be used later*/
	 src: url("/static/fonts/glamor.ttf"); /*URL to font*/
 }
 
 #textfont {
	 font-family: 'smallwriting';
	 font-size:20px
 }
 @font-face {
	 font-family: 'smallwritingbigger'; /*a name to be used later*/
	 src: url("/static/fonts/glamor.ttf"); /*URL to font*/
 }
 
 #textfontbig{
	 font-family: 'smallwritingbigger';
	 font-size:35px
 }
 
.alex-splash{
  height: 400px;
  width: auto;
}

.alex-circle{
  width: 350px;
  height: auto;
}

.alex-circle-right{
  float:right;
}

.img-circle {
  border-radius: 50%;
  width: auto;
  height: 150px
}

.img-center{
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-unit h1{
 text-align: center; 
 color: #AF7817;
}

.hero-unit h2{
 text-align: center; 
 color: #FDD017;
}

.hero-unit h3{
 text-align: center; 
 color: #FDD017;
}

.hero-unit p{
 text-align: center; 
 color: #FDD017;
}

.social-icon{
  width: 40px;
  height: 40px;
}

.marketing .col-lg-3 {
  text-align: center;
}
.marketing .col-lg-4 {
  text-align: center;
}
.marketing .col-lg-6 {
  text-align: center;
}

.banner-background{
 background-color: #000000; 
}

.content-background{
 padding-top: 10px;
 padding-bottom: 10px;
}

